body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  position: fixed;
  top: 20vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

form input {
  width: 20vw;
  font-size: 6vh;
  text-align: center;
  border: 0.2vmin solid purple;
}

form button {
  width: 20.3vw;
  margin-top: 1vw;
  font-size: 6vh;
  text-align: center;
}

#sign-up {
  left: 25vw;
}

#sign-in {
  left: 50vw;
}

.lds-ring {
  display: inline-block;
  position: relative;
  top: 25vh;
  left: 40vw;
  width: 30vmin;
  height: 30vmin;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 28vmin;
  height: 28vmin;
  margin: 10px;
  border: 10px solid blue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: blue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
