<form action='/books/create' method='POST'>
  <label>Title</label>
  <input type='text' name='books[title]' placeholder="Book Title"/>
  <label>Author</label>
  <input type='text' name='books[author]' placeholder="Book Author"/>
  <label>Snippet</label>
  <input type='text' name='books[snippet]' placeholder="Book Snippet"/>
  <input type='submit'/>
</form>
