<form action='/books/create' method='POST'>
  <label>Title</label>
  <input type='text' name='title'/>
  <label>Author</label>
  <input type='text' name='author'/>
  <label>Snippet</label>
  <input type='text' name='snippet'/>
  <input type='submit'/>
</form>
