.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 0px;
}

th {
  font-weight: bold;
}

.width-75 {
  width: 75%;
}

.center {
  text-align: center;
}

.padding {
  padding: 10px;
}

.margin {
  margin: 20px;
}

.blue {
  background-color: #66c2ff;
}

.yellow {
  background-color: #FFD700;
}

.border-round {
  border-radius: 10px;
}

.border-grey {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}